@page "/info"
@using budget.Components.Layout
@using MudBlazor

<MudButton Variant="Variant.Filled" Color="Color.Warning" Href="javascript:window.history.back();">zurück</MudButton>

<div class="island">
    <div class="d-flex justify-content-center mb-2">
        <svg width="128" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="48.57 48.57 414.53 414.53">
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#212529" stroke="none">
                <path d="M2425 4629 c-939 -55 -1739 -768 -1906 -1697 -151 -840 220 -1675      948 -2134 327 -206 691 -309 1093 -309 563 0 1068 209 1465 606 397 397 606      902 606 1465 0 564 -208 1068 -607 1467 -297 297 -682 500 -1087 573 -101 18      -153 23 -337 34 -30 1 -109 -1 -175 -5z m1085 -986 c230 -47 396 -193 444      -388 21 -86 36 -279 36 -459 l0 -156 -304 0 -304 0 -4 283 c-2 206 -6 288 -16      305 -16 28 -61 29 -93 3 l-24 -19 -3 -649 c-2 -356 0 -663 3 -681 11 -61 89      -80 117 -28 8 14 14 102 16 259 l4 237 304 0 304 0 0 -104 c0 -140 -18 -349      -35 -418 -32 -120 -82 -198 -175 -272 -130 -102 -277 -148 -475 -147 -293 0      -517 111 -599 296 -67 149 -79 317 -73 960 5 543 7 563 64 683 43 90 153 194      255 242 46 21 106 44 133 50 131 31 286 32 425 3z m-1420 -19 c235 -53 372      -183 421 -399 30 -131 42 -434 36 -895 -7 -455 -13 -513 -65 -617 -83 -163      -228 -264 -442 -308 -67 -14 -111 -16 -210 -11 -208 10 -347 60 -463 167 -141      128 -177 263 -177 657 l0 192 298 0 299 0 6 -269 c6 -306 10 -324 68 -329 26      -2 40 3 55 19 18 20 19 41 19 688 0 732 2 711 -58 711 -63 0 -68 -11 -79 -171      -5 -79 -8 -192 -6 -252 l3 -107 -304 0 -304 0 6 208 c8 301 39 423 131 522      105 115 247 187 411 210 84 12 269 4 355 -16z"/>
            </g>
        </svg>
    </div>
    <MudButton Class="info">
        <p>Version</p>
        <p>1.0.0</p>
    </MudButton>
    <hr/>
     <MudButton Class="info">
        <p>Hardware</p>
        <p>Pixel 5</p>
    </MudButton>
    <hr/>
    <MudButton Class="info">
        <p>Betriebssystem</p>
        <p>Android 9 Pie</p>
    </MudButton>
    <hr/>
    <MudButton Class="info" OnClick="OnExpandCollapseClick">AGB</MudButton>
    <MudCollapse Expanded="_expanded">
        Allgemeine Geschäftsbedingungen (AGB) für die Nutzung der Applikation "CashControl"<br />
        <br />Geltungsbereich
        <br />Die folgenden Allgemeinen Geschäftsbedingungen regeln die Nutzung der Applikation "CashControl" (im Folgenden als "App" bezeichnet), die von [Ihr Unternehmen], mit Sitz in Bern, Lorrainestrasse 1, (im Folgenden als "Anbieter" bezeichnet), bereitgestellt wird.
        <br /><br />Vertragsgegenstand
        <br />Die App "CashControl" ermöglicht es den Nutzern, ihre finanziellen Transaktionen zu verfolgen, Budgets zu erstellen und Finanzberichte zu generieren. Die Nutzung der App erfolgt ausschließlich zu Übungszwecken und dient der persönlichen Finanzverwaltung.
        <br />Registrierung und Nutzerkonto
        <br />Für die Nutzung der App ist eine Registrierung erforderlich. Der Nutzer verpflichtet sich, bei der Registrierung wahrheitsgemäße Angaben zu machen. Die Zugangsdaten zum Nutzerkonto sind persönlich und dürfen nicht an Dritte weitergegeben werden. Der Nutzer ist für die Sicherheit seines Kontos verantwortlich.
        <br /><br />Datenschutz
        <br />Der Anbieter verpflichtet sich, die Datenschutzbestimmungen einzuhalten. Nähere Informationen zur Verarbeitung personenbezogener Daten finden sich in der Datenschutzerklärung des Anbieters.
        <br /><br />Nutzungsrechte
        <br />Der Nutzer erhält ein nicht ausschließliches, nicht übertragbares Recht zur Nutzung der App für persönliche Zwecke. Jegliche Vervielfältigung, Verbreitung oder öffentliche Wiedergabe der App ist ohne ausdrückliche Zustimmung des Anbieters untersagt.
        <br /><br />Haftungsausschluss
        <br />Die Nutzung der App erfolgt auf eigenes Risiko des Nutzers. Der Anbieter übernimmt keine Haftung für Schäden, die durch die Nutzung der App entstehen, es sei denn, sie beruhen auf grober Fahrlässigkeit oder Vorsatz seitens des Anbieters.
        <br />Änderungen der AGB
        <br />Der Anbieter behält sich das Recht vor, diese AGB jederzeit zu ändern. Die Nutzer werden über Änderungen per E-Mail informiert. Die fortgesetzte Nutzung der App nach Mitteilung der Änderungen gilt als Zustimmung zu den geänderten AGB.
        <br /><br />Kündigung
        <br />Der Nutzer kann sein Nutzerkonto jederzeit ohne Angabe von Gründen kündigen. Der Anbieter behält sich das Recht vor, Nutzerkonten zu sperren oder zu löschen, wenn der Verdacht auf missbräuchliche Nutzung besteht.
        <br /><br />Schlussbestimmungen
        <br />Es gilt das Schweizer Recht unter Ausschluss des UN-Kaufrechts. Gerichtsstand ist Bern.<br />
        <br />Stand: 1.1.2024<br />
        <br />CashControl AG
        <br />Lorrainestrasse 1
        <br />3000 Bern
        <br />Kontakt:
        <br />E-Mail: info@cashcontrol.com
        <br />Telefon: 123 456 78 90
    </MudCollapse>
    
    <h4 style="margin-top: 4rem;">Komponente, welche ich nicht benutzen konnte</h4>
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
        <tr>
            @foreach (var h in headings) {
                <th>@h</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in rows) {
            <tr>
                @foreach (var x in row.Split()) {
                    <td>@x</td>
                }
            </tr>
        }
        </tbody>
    </MudSimpleTable>
    <MudPaper Width="300px">
        <MudList Clickable="true">
            <MudListItem Text="Inbox" Icon="@Icons.Material.Filled.Inbox" />
            <MudListItem Text="Sent" Icon="@Icons.Material.Filled.Send" />
            <MudDivider />
            <MudListItem Text="Trash" />
            <MudListItem Text="Spam" />
        </MudList>
    </MudPaper>
    <MudSlider Value="100.0">Volume</MudSlider>
    <MudSlider Disabled="true" Value="@(20)">Disabled Slider</MudSlider>
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    protected override void OnInitialized() {
        if (Layout != null) {
            Layout.Title = "Informationen";
        }
    }

    bool _expanded;
    private void OnExpandCollapseClick() {
        _expanded = !_expanded;
    }
    
    string[] headings = { "ID", "Name", "Email", "Gender", "IP Address" };
    string[] rows = {
        @"1 Krishna kpartner0@usatoday.com Male 28.25.250.202",
        @"2 Webb wstitle1@ning.com Male 237.168.134.114",
        @"3 Nathanil nneal2@cyberchimps.com Male 92.6.0.175"
    };
}
