@using MudBlazor

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            <MudSelect T="string" Label="Einkommen auswählen" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Haupteinkommen")" />
                <MudSelectItem Value="@("Nebenjob")" />
                <MudSelectItem Value="@("sonstiges")" />
            </MudSelect>
            <p style="margin-top: 1rem;">Wann wird dies eingezahlt?</p>
            <MudRadioGroup @bind-Value="@SelectedOption">
                <MudRadio Value="@("monatlich")" Color="Color.Primary">monatlich</MudRadio>
                <MudRadio Value="@("jährlich")" Color="Color.Primary">jährlich</MudRadio>
            </MudRadioGroup>
            <MudTextField T="string" Label="Betrag" Required="true" RequiredError="Der Betrag ist notwendig!"/>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Abbrechen</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Warning" DisableElevation="true" OnClick="@(() => { form.Validate(); CloseDialog(); })">Speichern</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();
    
    bool success;
    string[] errors = {};
    MudForm form;
    public string SelectedOption { get; set; }
    
    void CloseDialog() {
        if (success) MudDialog.Close(DialogResult.Ok(true));
    }
}
